@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, span {
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

h1 {
    font-size: 28px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

/* list-style-type: none removes */

li {
    list-style-type: none;
}

.purple {
    color: #3057b1;
    font-weight: bold;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text--purple {
    color: #3057b1;
}

/*

Navigation Bar

*/

nav {
    height: 100px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.nav__link-primary {
    background-color: #3057b1;
    color: white;
    padding: 8px 20px;
    border-radius: 52px;
    transition: all 300ms ease;
}

.nav__link-primary:hover {
    background-color: #3ec2ff;
}

.personal__logo {
    font-size: 22px;
    color: #3057b1;
    margin: 0 12px;
    font-weight: bold;
}

/*

About me 

*/

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picutre--mask {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 28px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    margin-bottom: 28px;
}

.about-me__picture {
    width: 100%;

    /* to improve profile pic (increments of 4px for the padding)*/

    transform: scale(1.5);
    padding-top: 8px;
}

.about-me__info--title {
    margin-bottom: 20px;
}

.about-me__info--para {
    font-size: 20px;
    margin-bottom: 28px;
    
}

.about-me__link {
    font-size: 20px;
    color: #3057b1;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__img--container{
    flex: 1;
    display: flex;
    align-items: center;
}

.about-me__img {
    width: 100%;
    height: 100px;
}